<!DOCTYPE html>
<html lang="en">
<head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JRN4MW5J79"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JRN4MW5J79'); 
</script>

	<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=69837fe515cc36c610e95ca4&product=sop' async='async'></script>
 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="og:image" content="{{ site.logo }}">
    <meta name="description" content="{{ site.description }}">
    <meta name="title" content="{{ site.title }}">
    <meta name="author" content="{{ site.author_name }}"> 

    <title>{{ site.title }}</title>

    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

	
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.favicon }}">

    <script src="https://kit.fontawesome.com/56182aba27.js" crossorigin="anonymous"></script>
	
	<link rel="stylesheet" href="/blog/uikit/css/uikit.min.css" />
	
    <link href="/blog/index2.css" rel="stylesheet">
	
<script src="/blog/uikit/js/uikit.min.js"></script>
    <script src="/blog/uikit/js/uikit-icons.min.js"></script>
	
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
  
  <script>
    $(document).ready(function(){
      
      $("a.all").click(function(){
        $("div.post").removeClass("hide");
	$("a").removeClass("active");
	$("a.all").addClass("active");
      });
      $("a.2010s").click(function(){
        $("div.post:not([2010s])").addClass("hide");
	$("a:not([2010s])").removeClass("active");
        $("div.post.2010s").removeClass("hide");
	$("a.2010s").addClass("active");
      });      
      $("a.2020s").click(function(){
        $("div.post:not([2020s])").addClass("hide");
        $("a:not([2020s])").removeClass("active");
        $("div.post.2020s").removeClass("hide");
        $("a.2020s").addClass("active");
      });
      
    });
  </script>

</head>
<body>


<div class="canvas">
    <div class="links">
        
        <!-- <a id="theme-toggle" class="desktop" onclick="modeSwitcher()"></a>-->
	    
      <a href="/blog" style="margin:0 auto;display:block;text-decoration:none;"><h1 style="text-transform:uppercase;margin-top:0px;margin-bottom:-10px;">No Shy Lover</h1></a>

	    
	    <p style="text-align:center;line-height: 135%;letter-spacing: 0.25em;text-transform: uppercase;margin-bottom:20px;">{% include pages.html %}</p>
      
           
                  
     {% include portfolio.html %} 
	    
	 	    <div style="clear:both;"></div>
	    	                                                                      
        </div>
	
	{% include footer.html %}

	
</div>
    
<script src="/blog/mode-switcher.js"></script> 
    
</body>
</html>













